.company-block > div {border-color: #dcdee0;}
.company-img{border-color: #dcdee0;cursor: auto;height: 216.9px;}
.confirm-notification h2{margin-bottom: 0;}
.confirm-notification{padding-bottom: 0;}
.form-group label{width: 30%;}
.form-control{width: 70%;}
.form-group.width-half label{width: 30%}
.width-half .form-control{width: 70%;}
.company-block figcaption{padding:14px 15px 5px;font-size: 17px;}
@media(max-width:1900px){
    .company-img{height: 171.5px;}
}
@media (max-width:1500px){
  .form-group label,.form-group.width-half label{width: 33%;}
  .form-control,.width-half .form-control{width: 67%;}
  .company-img{height: 147.64px;}
  .company-block figcaption{padding:11px 15px 5px;font-size: 15px;}
}
@media (max-width:1364px){
  .form-group label,.form-group.width-half label{width: 39%;}
  .form-control,.width-half .form-control{width: 61%;}
  .company-img{height: 170px;}
    .company-block figcaption{padding:13px 15px 5px;}
}

@media (max-width:1200px){
    .company-img{height: 133.8px;}
    .company-block figcaption{padding: 11px 12px 4px;font-size: 14px;}
    .form-group label,.form-group.width-half label{width: 40%;}
    .form-control,.width-half .form-control{width: 60%;}
}
@media (max-width: 991px){
    .form-group label,.form-group.width-half label{width:48%;}
    .form-control,.width-half .form-control{width: 52%;}
    .company-img{height: 99px;}
    .company-block figcaption{padding:11px 12px 4px;font-size: 11px;}
}